#todo-navbar{
  background:rgb(35, 90, 164);
  color:white !important;
}
#color{
  color:white;
}
Link .color{
  color:white !important;
}
@media screen and (max-width: 640px){
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff9f9;
  }
}
